Bootstrap: docker
From: continuumio/miniconda3:latest


%files
  packed_env.tar /packed_env.tar

%environment
  export NUMBA_CACHE_DIR=/tmp/numba_cache

%post
#   yum install -y kernel-3.10.0-1160.11.1.el7
  apt-get install -y tar && apt-get clean && \
  tar xf /packed_env.tar
  rm /packed_env.tar
  echo "source /opt/conda/bin/activate {conda_env}" >>$SINGULARITY_ENVIRONMENT
